{% extends "base.html" %}

{% block content %}

        <main>
            <!--Cards for each event 'previously' booked-->
            <div class="container BookHistoryPage">
                <div class="row">
                    <h2>Last 7 Days</h2>
                    <div class="card mb-3 bookingWrapper">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="static/img folder/the weeknd.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">The Weeknd: After Hours Til Dawn Tour</h5>
                                    <p class="card-text">Booking ID: #167893</p>
                                    <p class="card-text">Date Booked: 1 August 2026, 12:15 AM</p>
                                    <p><span id="badge1" class="badge rounded-pill text-bg-primary">Open</span></p>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>


                <div class="row">
                    <h2>Over a month ago</h2>
                    <div class="card mb-3 bookingWrapper">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="static/img folder/pianist.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Yuja Wang: Recital, Beethoven 'Moolight' Sonata</h5>
                                    <p class="card-text">Booking ID: #119749</p>
                                    <p class="card-text">Date Booked: 16 June 2025, 6:10 PM</p>
                                    <p><span id="badge4" class="badge rounded-pill text-bg-primary">Inactive</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>


{% endblock content %}
