{% extends "base.html" %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<!-- flashes any messages to the user -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="container-fluid">
    <div class="row mt-3 mb-3">
        <div class="col-md-12">
            {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endwith %}

        <main>
            <!--Main Hero image for Event Details Page-->
            <div class="container EventDetailsImage">
                <div class="row">
                    <div class="col">
                        <div class="eventdetails-image">
                            <img src={{image}} class="card-img-top" alt="...">
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        <!--Event Status-->
        <div class="container EventDetailsPage">
            <div class="row">
                <div class="col-lg-12 col-xl-4 left-column">
                    <p><span id="{{ event.statusCode }}" class="badge rounded-pill text-bg-primary">{{ event.status }} </span></p>

                    <!--Event Title and Description-->
                    <div class="event-title-description">
                        <h4> {{event.title}}</h4>
                        <p>{{event.description}}
                        </p>
                    </div>

                    
                    
                    <!--Event Date and Time-->
                    <div class="event-date-time">
                        <div class="d-inline-flex align-items-center calendar-symbol">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-calendar" viewBox="0 0 16 16">
                                <path
                                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                            </svg>
                            <p>{{event.date}}, {{event.startTime}} - {{event.endTime}}</p>
                        </div>
                    </div>

                        
                        
                    <!--Event Location-->
                    <div class="eventdetails-location">
                        <div class="d-inline-flex align-items-center location-symbol">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                            </svg>
                            <p>{{event.location}}</p>
                        </div>
                    </div>

                        <!--Event Cost-->
                        <div class="eventdetails-cost">
                            <div class="d-inline-flex align-items-center cost-symbol">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                                    <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                                    <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z"/>
                                </svg>
                                <p>AUD ${{event.price}}</p>
                            </div>
                        </div>
                    </div>

                    
                <!--Get Tickets button-->
                <div class="col-lg-12 col-xl-4 right-column">
                    <div class="row">
                        <div class="col">
                            {% if current_user.is_authenticated and current_user.id == event.owner_id %}
                            <div class="card-change-status">
                                <div class="card-body">
                                    <div class="btn-box">
                                        {% if event.status != 'Inactive' and event.status != 'Cancelled' %}
                                        <button type="button" class="btn btn-danger btn-get-tickets" data-toggle="modal" data-target="#staticBackdrop">
                                            Cancel Event
                                        </button>
                                        {% else %}
                                        <button type="button" class="btn btn-danger btn-get-tickets" disabled data-toggle="modal" data-target="#staticBackdrop">
                                            Cancel Event
                                        </button>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>  
                    </div>
                </div>
                
                <div class="col-lg-12 col-xl-4 right-column">
                    <div class="row">
                        <div class="col">
                            <div class="card-get-tickets">
                                <div class="card-body">
                                    <div class="btn-box">
                                        {% if view_mode == 'booking' %}
                                        <button type="button" class="btn btn-danger btn-get-tickets" data-toggle="modal" data-target="#staticBackdrop">
                                            Cancel Booking
                                        </button>
                                        {% else %}
                                            {% if event.ticket is not number or event.ticket <= 0 %}
                                            <button type="button" class="btn btn-primary btn-get-tickets" disabled data-toggle="modal" data-target="#staticBackdrop">
                                                Get Tickets
                                            </button>
                                            {% else %}
                                            <button type="button" class="btn btn-primary btn-get-tickets" data-toggle="modal" data-target="#staticBackdrop">
                                                Get Tickets
                                            </button>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <p class="d-inline-flex align-items-center"> Ticket available: {{event.ticket_remain}}</p>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>      
            </div>




            <!--Comment Section-->
            <div class="container-fluid comment-section">
                <h5>Comments</h5>                    
                <div class="row border-bottom"> 
                    <form method="POST" action="{{ url_for('event.event_details', id=event.id) }}" class="w-100">
                        {{ form.hidden_tag() }}
                        {{ form.text(class="form-textarea", placeholder="Write your comment...") }}
                        {{ form.submit(class="form-button") }}
                    </form>
                    {% for comment in event.comments %}
                    <div class="col-12 card-commenter">  
                        <span class="p1">{{ comment.user }}</span>
                        <span class="p2">{{ comment.created_at.strftime('%H:%M, %d %b %Y') }}</span>
                    </div>
                    <div class="col-12 comment">
                        <p>{{ comment.text }}</p>
                    </div>
                    {% endfor %} 
                </div>
            </div>            
        </main>


  <!--Modal that pops up when user click on 'Get Ticket' button-->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">GET TICKETS</h1>
                </div>
                <form class="Event-Page" action="{{ url_for('PurchaseTicket.purchase_ticket', event_id=event.id) }}" method="POST">
                    {{ purchaseform.hidden_tag() }}
                    <div class="modal-body">
                        <label for="quantity" class="ticketlabel">Ticket Quantity</label>
                        <select class="form-select" id="quantity" name="quantity" required>
                            {% if not event.ticket_remain %}
                            {% else %}
                                {% for i in range(1, event.ticket_remain + 1) %}
                                <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        {{ purchaseform.submit(class="btn btn-primary", value="Confirm Purchase") }}
                    </div>
                </form>
            </div>
        </div>    
    </div>





{% endblock content %}