{% extends "base.html" %}

{% block header %}
            <!--Jumbotron-->
            <div class="jumbotron jumbotron-fluid bg-cover">
                <div class="container">
                    <h1 class="display-4">DISCOVER YOUR FAVOURITE MUSIC EVENTS. OR, CREATE YOUR OWN!</h1>
                </div>   
            </div>
            
        </header>

{% endblock header %}


{% block content %}

        <main>
            <!--Cards of different music event categories-->
            <div class="container-fluid Event-Categories">
                <h2>Browse by Categories</h2>
                <div class="row">
                    <div class="col-6 col-sm-4 col-md-3 col-lg">
                        <div class="card category-card">
                            <img src="static/img folder/category image1 - live concert.jpg" class="card-img-top" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title category-name">Live Concerts</h5>
                                <a href="#" class="stretched-link"></a>
                            </div>                  
                        </div>
                    </div>


                    
                    <div class="col-6 col-sm-4 col-md-3 col-lg">
                        <div class="card category-card">
                            <img src="static/img folder/category image2 - gig.jpg" class="card-img-top" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title category-name">Gigs</h5>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>



                    <div class="col-6 col-sm-4 col-md-3 col-lg">
                        <div class="card category-card">
                            <img src="static/img folder/category image3 - disco nights.jpg" class="card-img-top" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title category-name">Disco Nights</h5>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>



                    <div class="col-6 col-sm-4 col-md-3 col-lg">
                        <div class="card category-card">
                            <img src="static/img folder/category image4 - DJ.jpg" class="card-img-top" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title category-name">DJ Events</h5>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>



                    <div class="col-6 col-sm-4 col-md-3 col-lg">
                        <div class="card category-card">
                            <img src="static/img folder/category image5 - classical performance.jpg" class="card-img-top" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title category-name">Classical</h5>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>




                    <div class="col-6 col-sm-4 col-md-3 col-lg">
                        <div class="card category-card">
                            <img src="static/img folder/category image6 - musical.jpg" class="card-img-top" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title category-name">Musicals</h5>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>


                    <div class="col-6 col-sm-4 col-md-3 col-lg">
                        <div class="card category-card">
                            <img src="static/img folder/category image7 - festival.jpg" class="card-img-top" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title category-name">Festival</h5>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>



            <!--Browsing popular events, each card is a different event-->
            <div class="container">
                <h3>Popular</h3>
                <!--Use of Flask mixed with Bootstrap and Jinja, running a for loop to generate list of events that are currently running.-->
                {% for event in events %}
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ event.image }}" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p><span id="{{ event.statusCode }}" class="badge rounded-pill text-bg-primary">{{ event.status }} </span></p>
                                <h5 class="card-title">{{event.title}} </h5>
                                <p class="card-text">{{event.description}} </p>
                                    <div class="d-inline-flex align-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill"
                                            viewBox="0 0 16 16">
                                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                                        </svg>
                                        <p class="card-text"><small class="text-body-secondary">{{event.location}} </small></p>
                                    </div>
                                    <div>
                                        <a href="{{ url_for('event.event_details', id=event.id, view_mode = 'default') }}" class="btn btn-primary stretched-link">View Details</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>


{% endblock content %}
